<h1>Profile</h1> 

  <h1><%= gravatar_for @user %></h1>
  

    <%= form_for(@user, html: {class:"form-horizontal"})  do |f| %>

　　　<div calss="form-group">
       <%= f.label :name %>
       <%= @user.name %>
      </div>

     <div calss="form-group">
      <%= f.label :email %>
      <%= @user.email %>
     </div>
     
    <div calss="form-group">
      <%= link_to "プロフィールを変更する", edit_user_path, class: "btn btn-primary" %>
     </div>
     
    <% end %>
  

